body#test1{
    background-color:  #ff3333;
}

body#test2{
    background-color:  #1a53ff;
}


h1 {
    color: white;
    text-align: center;
    font-family: 'Cutive Mono' ;
    font-size: 50px;
}


#header {
  margin-top: 15%;
}

p {
  color: white;
  text-align: center;
  font-size: 25px;

}
