body#test1{
    background-color:  #ff3333;
}

body#test2{
    background-color:  #1a53ff;
}

body#test3{
    background-color:  #53c653;
}


h1 {
    color: white;
    text-align: center;
    font-family: 'Cutive Mono' ;
    font-size: 50px;
}


#header {
  margin-top: 15%;
}

p {
  color: white;
  text-align: center;
  font-size: 25px;

}

.button {
    background-color: #e7e7e7; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a{
      text-decoration: none;

}

